{% extends 'base.html' %}
{% block titulo %} Canciones {% endblock %}
{% block content %}
			<div class="row">
           	 <div class="col-md-8">


						<h2>Agregar canción a lista {{ playlist.nameplaylist }}</h2>

         
             
						
						 <table class="table table-hover">
						    <thead>
						      <tr>
						        <th>Canción</th>
						        <th>Albúm</th>
						        <th>Acción</th>
						      </tr>
						    </thead>
						    <tbody>
						   
						     {% for listat in tracks %}
						      <tr class= "playlist">
						        <td><img src="/media/{{listat.album.cover}}" alt="" width="30" height="30">
					       			
						            <a href="/media/{{listat.filetrack}}" nametrack="{{listat.nametrack}} - {{listat.artist.nameartist}}" namealbum = "/media/{{listat.album.cover}}">
						              {{listat.nametrack}} - {{listat.artist.nameartist}} 
						            </a>
						        </td>
						        <td>{{listat.album.namealbum}}</td>
						        <td><p>{{ com.nametrack }}</p> <a href="/agregar_cancion/{{ listat.id }}/{{ playlist.id }}"><span>Añadir </span></a></td>
						     
								
					      
							</tr>
							{% endfor %}
							  
						    </tbody>
						  </table> 
						
				 </div><!--/panel-->

                <div class="col-md-4">	
	          	<div align="center" id="divaudio">
	             <br><br>
	             	<img src="{{ MEDIA_URL }}sfotipy/play.png" alt=""  width="310" height="310" id="portada">
	             	<p id="escucha"></p>
	             	
				    <audio id="audio" autoplay preload="auto" tabindex="0" controls="" >
				  		<source src=""/>  
					</audio>    
	             	         
	             </div>
				</div>
          
			</div>

			
	

{% endblock content %}